<link rel="import" href="frontend://bower_components/menu-bar/menu-bar.html">
<link rel="import" href="/static/style.html">
<link rel="import" href="frontend://bower_components/vaadin-time-picker/src/vaadin-time-picker.html">

<uibuilder-page on-after-load="baseController::init">
    <menu-bar>
        <has-permission name="CAR">
            <menu-item  name="Cars" on-activate="flow:cars"></menu-item>
        </has-permission>
        <has-permission name="USER_REQUEST">
            <menu-item name="Requests" on-activate="flow:userRequest"></menu-item>
        </has-permission>
        <has-permission name="REQUEST_MANAGER">
            <menu-item name="Requests" on-activate="flow:requestManager"></menu-item>
        </has-permission>
        <has-permission name="RENT_MASTER">
            <menu-item name="Rents" on-activate="flow:rentMaster"></menu-item>
        </has-permission>
        <menu-item name="{{baseController.name}}" right>
            <has-any-role name="CUSTOMER, EMPLOYEE">
                <menu-item name="User settings" on-activate="flow:settings"></menu-item>
            </has-any-role>
            <menu-item name="Logout" on-activate="baseController::logout"></menu-item>
        </menu-item>
    </menu-bar>

    <div>
        <uibuilder-page id="mainTarget"></uibuilder-page>
    </div>
</uibuilder-page>
