<link rel="import" href="frontend://bower_components/crud-panel/crud-panel.html">
<link rel="import" href="frontend://bower_components/uibuilder-grid/uibuilder-grid.html">
<link rel="import" href="frontend://bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="frontend://bower_components/uibuilder-detail-panel/uibuilder-detail-panel.html">
<link rel="import" href="frontend://bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="frontend://bower_components/vaadin-text-field/vaadin-text-area.html">
<link rel="import" href="frontend://bower_components/crud-toolbar/crud-toolbar.html">
<link rel="import" href="frontend://bower_components/vaadin-ordered-layout/src/vaadin-vertical-layout.html">
<link rel="import" href="frontend://bower_components/uibuilder-combobox/src/uibuilder-combobox.html">
<link rel="import" href="frontend://bower_components/vaadin-ordered-layout/src/vaadin-horizontal-layout.html">

<uibuilder-page contextId="car-page" on-after-load="carController::init">
    <style include="car-rental-style"></style>
    <crud-panel orientation="horizontal">
        <data-source name="carDS"></data-source>
        <has-role name="EMPLOYEE">
            <crud-toolbar></crud-toolbar>
        </has-role>
        <vaadin-uibuilder-grid>
            <vaadin-grid-column>
                <template class="header">
                    <vaadin-grid-sorter path="brand">Brand</vaadin-grid-sorter>
                </template>
                <template>
                    {{item.brand}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column>
                <template class="header">
                    <vaadin-grid-sorter path="model">Model</vaadin-grid-sorter>
                </template>
                <template>
                    {{item.model}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column>
                <template class="header">
                    <vaadin-grid-sorter path="Year">year</vaadin-grid-sorter>
                </template>
                <template>
                    {{item.year}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column>
                <template class="header">
                    <vaadin-grid-sorter path="color">Color</vaadin-grid-sorter>
                </template>
                <template>
                    {{item.color}}
                </template>
            </vaadin-grid-column>
            <vaadin-grid-column>
                <template class="header">
                    <vaadin-grid-sorter path="carBodystyle">Bodystyle</vaadin-grid-sorter>
                </template>
                <template>
                    {{item.carBodystyle}}
                </template>
            </vaadin-grid-column>
        </vaadin-uibuilder-grid>
        <detail-panel id="carDetailPanel">
            <vaadin-horizontal-layout>
                <vaadin-vertical-layout>
                    <vaadin-text-field label="Brand" item-bind="brand"></vaadin-text-field>
                    <vaadin-text-field label="Model" item-bind="model"></vaadin-text-field>
                    <vaadin-text-field label="Year" item-bind="year" prevent-invalid-input pattern="[0-9]*"
                                       maxlength="4"></vaadin-text-field>
                    <vaadin-text-field label="Color" item-bind="color"></vaadin-text-field>
                </vaadin-vertical-layout>
                <vaadin-vertical-layout>
                    <vaadin-text-field label="Mileage" item-bind="mileage" prevent-invalid-input
                                       pattern="[0-9]*" maxlength="8"></vaadin-text-field>
                    <uibuilder-combobox id="bodyStyleCombobox" label="Bodystyle" item-bind="selected:carBodystyle">
                        <item-data-source items="{{carController.carBodystyleList}}"></item-data-source>
                        <template class="row-details">
                            <div class="details">{{item}}</div>
                        </template>
                    </uibuilder-combobox>
                    <vaadin-text-area label="Description" item-bind="description"></vaadin-text-area>
                </vaadin-vertical-layout>
            </vaadin-horizontal-layout>
        </detail-panel>
    </crud-panel>
</uibuilder-page>