<link rel="import" href="frontend://bower_components/uibuilder-login-panel/uibuilder-login-panel.html">
<link rel="import" href="/static/style.html">

<uibuilder-page>
    <style include="car-rental-style"></style>
    <uibuilder-login-panel on-success="flow:base"></uibuilder-login-panel>
</uibuilder-page>