<link rel="import" href="frontend://bower_components/uibuilder-form/uibuilder-form.html">
<link rel="import" href="frontend://bower_components/vaadin-ordered-layout/vaadin-horizontal-layout.html">
<link rel="import" href="frontend://bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="frontend://bower_components/vaadin-text-field/vaadin-text-area.html">
<link rel="import" href="frontend://bower_components/uibuilder-combobox/uibuilder-combobox.html">
<link rel="import" href="frontend://bower_components/vaadin-button/src/vaadin-button.html">
<link rel="import" href="frontend://bower_components/vaadin-ordered-layout/src/vaadin-vertical-layout.html">

<uibuilder-page contextId="rentDetail-page" on-before-load="rentDetailController::beforeLoad"
                on-after-load="rentDetailController::init">
    <div id="buttonContainer">
        <vaadin-button on-click="flow:rentMaster">Back to rents</vaadin-button>
        <vaadin-button id="cancelButton" on-click="rentDetailController::cancel">Cancel rent</vaadin-button>
        <vaadin-button id="releaseButton" on-click="rentDetailController::release">Car released</vaadin-button>
        <vaadin-button id="returnButton" on-click="rentDetailController::return">Car returned</vaadin-button>
    </div>

    <uibuilder-form id="rentDetailForm" legend="Rent details" readonly>
        <vaadin-horizontal-layout>
            <vaadin-vertical-layout>
                <vaadin-text-field label="Status" item-bind="rentStatus"></vaadin-text-field>
                <vaadin-text-area id="messageTextArea" label="Return state message"
                                  item-bind="returnStateMessage"></vaadin-text-area>
                <vaadin-button id="messageButton" on-click="rentDetailController::message">Write message</vaadin-button>
                <vaadin-button id="saveButton" on-click="rentDetailController::onSave">Save message</vaadin-button>
            </vaadin-vertical-layout>
            <uibuilder-form id="requestDetailForm" legend="Request details" readonly>
                <vaadin-horizontal-layout>
                    <vaadin-vertical-layout>
                        <vaadin-text-field label="Title" item-bind="title"></vaadin-text-field>
                        <vaadin-text-field label="Customer" item-bind="customer.name"></vaadin-text-field>
                        <vaadin-text-field label="Employee" item-bind="employee.name"></vaadin-text-field>
                        <vaadin-text-area label="Message" item-bind="message"></vaadin-text-area>
                    </vaadin-vertical-layout>
                    <vaadin-vertical-layout>
                        <vaadin-text-field label="From" item-bind="dateFrom"></vaadin-text-field>
                        <vaadin-text-field label="To" item-bind="dateTo"></vaadin-text-field>
                        <vaadin-text-field label="Request date" item-bind="requestDateTime"></vaadin-text-field>
                        <vaadin-text-field label="Decision date" item-bind="decisionDateTime"></vaadin-text-field>
                    </vaadin-vertical-layout>
                    <uibuilder-form id="carDetailForm" legend="Car details" readonly>
                        <vaadin-horizontal-layout>
                            <vaadin-vertical-layout>
                                <vaadin-text-field label="Brand" item-bind="brand"></vaadin-text-field>
                                <vaadin-text-field label="Model" item-bind="model"></vaadin-text-field>
                                <vaadin-text-field label="Year" item-bind="year"></vaadin-text-field>
                                <vaadin-text-field label="Color" item-bind="color"></vaadin-text-field>
                            </vaadin-vertical-layout>
                            <vaadin-vertical-layout>
                                <vaadin-text-field label="Mileage" item-bind="mileage"></vaadin-text-field>
                                <vaadin-text-field label="Bodystyle" item-bind="carBodystyle"></vaadin-text-field>
                                <vaadin-text-area label="Description" item-bind="description"></vaadin-text-area>
                            </vaadin-vertical-layout>
                        </vaadin-horizontal-layout>
                    </uibuilder-form>
                </vaadin-horizontal-layout>
            </uibuilder-form>
        </vaadin-horizontal-layout>
    </uibuilder-form>
</uibuilder-page>