<link rel="import" href="frontend://bower_components/uibuilder-grid/uibuilder-grid.html">
<link rel="import" href="frontend://bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="frontend://bower_components/vaadin-button/vaadin-button.html">

<uibuilder-page contextId="rentMaster-page">
    <style include="car-rental-style"></style>
    <vaadin-uibuilder-grid id="rentsGrid">
        <data-source name="rentDS" default-query="queryForUser"></data-source>
        <vaadin-grid-column>
            <template class="header">
                <vaadin-grid-sorter path="request.title">Title</vaadin-grid-sorter>
            </template>
            <template>{{item.request.title}}</template>
        </vaadin-grid-column>
        <vaadin-grid-column>
            <template class="header">
                <vaadin-grid-sorter path="request.dateFrom">Start date</vaadin-grid-sorter>
            </template>
            <template>{{item.request.dateFrom}}</template>
        </vaadin-grid-column>
        <vaadin-grid-column>
            <template class="header">
                <vaadin-grid-sorter path="rentStatus">Status</vaadin-grid-sorter>
            </template>
            <template>
                {{item.rentStatus}}
            </template>
        </vaadin-grid-column>
        <vaadin-grid-column>
            <template class="header">
                Details
            </template>
            <template>
                <vaadin-button on-click="rentMasterController::seeDetails">Details >></vaadin-button>
            </template>
        </vaadin-grid-column>
    </vaadin-uibuilder-grid>
</uibuilder-page>