<link rel="import" href="frontend://bower_components/uibuilder-grid/uibuilder-grid.html">
<link rel="import" href="frontend://bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="frontend://bower_components/vaadin-button/vaadin-button.html">
<link rel="import" href="frontend://bower_components/uibuilder-master-detail-controller/uibuilder-master-detail-controller.html">
<link rel="import" href="frontend://bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="frontend://bower_components/vaadin-text-field/vaadin-text-area.html">
<link rel="import" href="frontend://bower_components/uibuilder-detail-panel/uibuilder-detail-panel.html">
<link rel="import" href="frontend://bower_components/uibuilder-form/uibuilder-form.html">
<link rel="import" href="frontend://bower_components/crud-toolbar/crud-toolbar.html">
<link rel="import" href="frontend://bower_components/vaadin-ordered-layout/vaadin-vertical-layout.html">
<link rel="import" href="frontend://bower_components/vaadin-ordered-layout/vaadin-horizontal-layout.html">
<link rel="import" href="frontend://bower_components/uibuilder-editor-window/src/uibuilder-editor-window.html">

<uibuilder-page contextId="requestManager-page" on-after-load="requestManagerController::init">
    <style include="car-rental-style"></style>
    <vaadin-uibuilder-grid id="employeeRequestsGrid">
        <data-source name="requestDS" default-query="queryForEmployees"></data-source>
        <vaadin-grid-column>
            <template class="header">
                <vaadin-grid-sorter path="title">Title</vaadin-grid-sorter>
            </template>
            <template>{{item.title}}</template>
        </vaadin-grid-column>
        <vaadin-grid-column>
            <template class="header">
                <vaadin-grid-sorter path="car">Car</vaadin-grid-sorter>
            </template>
            <template>{{item.car.brand}} {{item.car.model}}</template>
        </vaadin-grid-column>
        <vaadin-grid-column>
            <template class="header">
                <vaadin-grid-sorter path="customer.name">Customer</vaadin-grid-sorter>
            </template>
            <template>{{item.customer.name}}</template>
        </vaadin-grid-column>
        <vaadin-grid-column>
            <template class="header">
                <vaadin-grid-sorter path="requestDateTime">Request Date Time</vaadin-grid-sorter>
            </template>
            <template>{{item.requestDateTime}}</template>
        </vaadin-grid-column>
        <vaadin-grid-column>
            <template class="header">
                <vaadin-grid-sorter path="requestStatus">Status</vaadin-grid-sorter>
            </template>
            <template>{{item.requestStatus}}</template>
        </vaadin-grid-column>
    </vaadin-uibuilder-grid>
    <uibuilder-editor-window id="employeeRequestEditorWindow" header-text="Request details"
                             resize="none" closeable readonly>
        <vaadin-horizontal-layout>
            <vaadin-vertical-layout>
                <vaadin-text-field label="Title" item-bind="title"></vaadin-text-field>
                <vaadin-text-field label="From" item-bind="dateFrom"></vaadin-text-field>
                <vaadin-text-field label="Request Date Time" item-bind="requestDateTime"></vaadin-text-field>
                <vaadin-text-field label="Status" item-bind="requestStatus"></vaadin-text-field>
            </vaadin-vertical-layout>
            <vaadin-vertical-layout>
                <vaadin-text-field label="Customer" item-bind="customer.name"></vaadin-text-field>
                <vaadin-text-field label="To" item-bind="dateTo"></vaadin-text-field>
                <vaadin-text-field label="Decision Date Time" item-bind="decisionDateTime"></vaadin-text-field>
                <vaadin-text-area label="Message" item-bind="message"></vaadin-text-area>
            </vaadin-vertical-layout>
        </vaadin-horizontal-layout>
        <uibuilder-form id="requestManagerCarForm" legend="Car details" readonly>
            <vaadin-horizontal-layout>
                <vaadin-vertical-layout>
                    <vaadin-text-field label="Brand" item-bind="brand"></vaadin-text-field>
                    <vaadin-text-field label="Model" item-bind="model"></vaadin-text-field>
                    <vaadin-text-field label="Year" item-bind="year"></vaadin-text-field>
                    <vaadin-text-field label="Color" item-bind="color"></vaadin-text-field>
                </vaadin-vertical-layout>
                <vaadin-vertical-layout>
                    <vaadin-text-field label="Mileage" item-bind="mileage"></vaadin-text-field>
                    <vaadin-text-field label="Bodystyle" item-bind="carBodystyle"></vaadin-text-field>
                    <vaadin-text-area label="Description" item-bind="description"></vaadin-text-area>
                </vaadin-vertical-layout>
            </vaadin-horizontal-layout>
        </uibuilder-form>
        <vaadin-button id="rejectButton" on-click="requestManagerController::reject">Reject</vaadin-button>
        <vaadin-button id="acceptButton" on-click="requestManagerController::accept">Accept</vaadin-button>
    </uibuilder-editor-window>

    <master-detail-controller id="employeeRequestsMdc" master="employeeRequestsGrid"
                              detail="employeeRequestEditorWindow"
                              on-item-selected="requestManagerController::onItemSelected">
    </master-detail-controller>
</uibuilder-page>