<link rel="import" href="frontend://bower_components/vaadin-ordered-layout/vaadin-vertical-layout.html">
<link rel="import" href="frontend://bower_components/vaadin-text-field/vaadin-password-field.html">
<link rel="import" href="frontend://bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="frontend://bower_components/uibuilder-form/uibuilder-form.html">
<link rel="import" href="frontend://bower_components/vaadin-button/src/vaadin-button.html">

<uibuilder-page contextId="user-settings" on-after-load="userSettingsController::init">

    <style include="car-rental-style"></style>

    <uibuilder-form id="userForm" legend="User settings form" on-save="userSettingsController::save">
        <vaadin-vertical-layout>
            <vaadin-text-field label="Name" item-bind="name"></vaadin-text-field>
            <vaadin-text-field label="Username" item-bind="username"></vaadin-text-field>
            <vaadin-password-field label="Password" item-bind="password"></vaadin-password-field>
        </vaadin-vertical-layout>
        <hr/>
        <vaadin-button id="resetButton" form-control="reset">Reset</vaadin-button>
        <vaadin-button id="saveButton" form-control="save" theme="primary">Save</vaadin-button>
    </uibuilder-form>
</uibuilder-page>