<link rel="import" href="frontend://bower_components/uibuilder-grid/uibuilder-grid.html">
<link rel="import" href="frontend://bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="frontend://bower_components/uibuilder-detail-panel/src/uibuilder-detail-panel.html">
<link rel="import" href="frontend://bower_components/crud-toolbar/src/crud-toolbar.html">
<link rel="import"
      href="frontend://bower_components/uibuilder-master-detail-controller/uibuilder-master-detail-controller.html">
<link rel="import" href="frontend://bower_components/vaadin-text-field/src/vaadin-text-field.html">
<link rel="import" href="frontend://bower_components/vaadin-text-field/src/vaadin-text-area.html">
<link rel="import" href="frontend://bower_components/vaadin-date-picker/src/vaadin-date-picker.html">
<link rel="import" href="frontend://bower_components/vaadin-ordered-layout/src/vaadin-vertical-layout.html">
<link rel="import" href="frontend://bower_components/vaadin-ordered-layout/src/vaadin-horizontal-layout.html">

<uibuilder-page contextId="userRequest-page" on-after-load="userRequestsController::init">
    <style include="car-rental-style"></style>
    <crud-toolbar master-detail-controller="userRequestsMdc" edit-hidden></crud-toolbar>
    <vaadin-uibuilder-grid id="userRequestsGrid">
        <data-source name="requestDS" default-query="queryForCustomer"></data-source>
        <vaadin-grid-column>
            <template class="header">
                <vaadin-grid-sorter path="title">Title</vaadin-grid-sorter>
            </template>
            <template>{{item.title}}</template>
        </vaadin-grid-column>
        <vaadin-grid-column>
            <template class="header">
                <vaadin-grid-sorter path="car">Car</vaadin-grid-sorter>
            </template>
            <template>{{item.car.brand}} {{item.car.model}}</template>
        </vaadin-grid-column>
        <vaadin-grid-column>
            <template class="header">
                <vaadin-grid-sorter path="dateFrom">From</vaadin-grid-sorter>
            </template>
            <template>{{item.dateFrom}}</template>
        </vaadin-grid-column>
        <vaadin-grid-column>
            <template class="header">
                <vaadin-grid-sorter path="dateTo">To</vaadin-grid-sorter>
            </template>
            <template>{{item.dateTo}}</template>
        </vaadin-grid-column>
        <vaadin-grid-column>
            <template class="header">
                <vaadin-grid-sorter path="requestStatus">Status</vaadin-grid-sorter>
            </template>
            <template>{{item.requestStatus}}</template>
        </vaadin-grid-column>
    </vaadin-uibuilder-grid>

    <detail-panel id="userRequestDetailPanel">
        <vaadin-text-field label="Title" item-bind="title"></vaadin-text-field>
        <vaadin-text-area label="Message" item-bind="message"></vaadin-text-area>
        <hr/>
        Select date:
        <vaadin-date-picker id="fromDatePicker" label="From" item-bind="dateFrom"></vaadin-date-picker>
        <vaadin-date-picker id="toDatePicker" label="To" item-bind="dateTo"></vaadin-date-picker>
        <vaadin-button id="searchButton" on-click="userRequestsController::searchCars">Search</vaadin-button>
        <vaadin-button id="newIntervalButton" on-click="userRequestsController::setNewInterval">New interval</vaadin-button>
        <div id="carSelectionContainer">
            <hr/>
            <vaadin-horizontal-layout>
                <vaadin-uibuilder-grid id="requestCarsGrid" on-click="userRequestsController::onCarSelection">
                    <data-source name="carDS" default-query="queryForAvailableCars"></data-source>
                    <vaadin-grid-column>
                        <template class="header">
                            <vaadin-grid-sorter path="brand">Brand</vaadin-grid-sorter>
                        </template>
                        <template>
                            {{item.brand}}
                        </template>
                    </vaadin-grid-column>
                    <vaadin-grid-column>
                        <template class="header">
                            <vaadin-grid-sorter path="model">Model</vaadin-grid-sorter>
                        </template>
                        <template>
                            {{item.model}}
                        </template>
                    </vaadin-grid-column>
                </vaadin-uibuilder-grid>
                <detail-panel id="requestCarDetailPanel" readonly>
                    <vaadin-horizontal-layout>
                        <vaadin-vertical-layout>
                            <vaadin-text-field label="Year" item-bind="year"></vaadin-text-field>
                            <vaadin-text-field label="Color" item-bind="color"></vaadin-text-field>
                            <vaadin-text-field label="Mileage" item-bind="mileage"></vaadin-text-field>
                            <vaadin-text-field label="Bodystyle" item-bind="carBodystyle"></vaadin-text-field>
                            <vaadin-text-area label="Description" item-bind="description"></vaadin-text-area>
                        </vaadin-vertical-layout>
                    </vaadin-horizontal-layout>
                </detail-panel>
            </vaadin-horizontal-layout>
            <master-detail-controller id="carMdc" master="requestCarsGrid"
                                      detail="requestCarDetailPanel"></master-detail-controller>
        </div>
        <div id="carFormContainer">
            <hr/>
            <uibuilder-form id="carForm" legend="Car details" readonly>
                <vaadin-horizontal-layout>
                    <vaadin-vertical-layout>
                        <vaadin-text-field label="Brand" item-bind="brand"></vaadin-text-field>
                        <vaadin-text-field label="Model" item-bind="model"></vaadin-text-field>
                        <vaadin-text-field label="Year" item-bind="year"></vaadin-text-field>
                        <vaadin-text-field label="Color" item-bind="color"></vaadin-text-field>
                    </vaadin-vertical-layout>
                    <vaadin-vertical-layout>
                        <vaadin-text-field label="Mileage" item-bind="mileage"></vaadin-text-field>
                        <vaadin-text-field label="Bodystyle" item-bind="carBodystyle"></vaadin-text-field>
                        <vaadin-text-area label="Description" item-bind="description"></vaadin-text-area>
                    </vaadin-vertical-layout>
                </vaadin-horizontal-layout>
            </uibuilder-form>
        </div>
        <div id="afterDecisionContainer">
            <hr/>
            <vaadin-horizontal-layout>
                <vaadin-vertical-layout>
                    <vaadin-text-field label="Employee" item-bind="employee.name"></vaadin-text-field>
                    <vaadin-text-field label="Status" item-bind="requestStatus"></vaadin-text-field>
                </vaadin-vertical-layout>
                <vaadin-vertical-layout>
                    <vaadin-text-field label="Request Date Time" item-bind="requestDateTime"></vaadin-text-field>
                    <vaadin-text-field label="Decision Date Time" item-bind="decisionDateTime"></vaadin-text-field>
                </vaadin-vertical-layout>
            </vaadin-horizontal-layout>
        </div>
    </detail-panel>

    <master-detail-controller id="userRequestsMdc"
                              master="userRequestsGrid"
                              detail="userRequestDetailPanel"
                              on-save="userRequestsController::onSave"
                              on-delete="userRequestsController::onDelete"
                              item-supplier="{{userRequestsController::createUserRequest}}"
                              on-refresh="userRequestsController::onRefresh"
                              on-cancel="userRequestsController::onCancel"
                              on-reset="userRequestsController::onCancel"
                              on-item-selected="userRequestsController::onItemSelected">
    </master-detail-controller>

</uibuilder-page>