<dom-module id="car-rental-style">
    <style>

        uibuilder-login-panel {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
        }

        #carsGrid {
            width: 60%;
        }

        #carDetailPanel {
            width: auto;
        }

        #userForm {
            width: 300px;
            padding-top: 30px;
            padding-left: 30px;
        }

        #userForm * {
            width: 100%;
        }

        #searchButton, #newIntervalButton {
            width: 100%;
        }

        #userRequestDetailPanel {
            float: left;
        }

        #userRequestsGrid {
            float: left;
            width: 50%;
            margin-right: 8px;
        }

        #requestCarsGrid {
            float: left;
            width: 300px;
            height: 500px;
            margin-right: 8px;
        }

        #rejectButton, #acceptButton {
            width: 100px;
            margin: 20px 20px 0;
        }

        #employeeRequestEditorWindow {
            height: 400px;
        }

        #rentDetailForm {
            float: left;
            margin: 80px 30px 30px;
        }

        #buttonContainer {
            float: left;
            position: absolute;
            margin: 10px;
        }

        #messageButton, #saveButton, #searchButton, #newIntervalButton {
            width: 100%;
        }


        #employeeRequestsGrid, #rentsGrid {
            margin: 10px auto 0;
            width: 100%;
        }

        #userForm vaadin-vertical-layout,
        #carDetailPanel vaadin-vertical-layout,
        #rentDetailForm vaadin-vertical-layout,
        #userRequestDetailPanel vaadin-vertical-layout,
        #employeeRequestEditorWindow vaadin-vertical-layout {
            padding: 10px;
            width: 100%;
        }
    </style>
</dom-module>